/*
    Personalizacion PagaTodo

.modal-header {
    background-color: #000000;
    border-bottom: 1.5px solid #ffc312;
    color:white;
    height: 70px;
}

.modal-footer {
  margin-top: 15px;
  text-align: right;
  margin-left:-5px!important;  
  margin-right:-5px!important;  
}


.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.modal-title {
  font-weight: 600;
  font-size: 15px;
  color: white;
}

.modal-header .Logo {
  display:inline;
  width:50px!important;
  margin-left:55px;
  
}
*/

.divLogo {
    display: -webkit-inline-box;
}

.Logo {
    /*margin-top: -30px;*/
    display: inline;
    width: 50px !important;
    margin-left: 55px;
    /*font-size: 15px !important;*/
}

@media only screen and (max-width: 625px) {
    .divLogo {
        margin: 5px 0 0 60%;
    }
}

img {
    width: auto;
    height: auto;
    max-width: 95%;
    vertical-align: middle;
    margin: 5px;
    -ms-interpolation-mode: bicubic;
}
